<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.panimalar.ocr.core.ocrbuilder">
      <ocrbuilder
            Class="edu.panimalar.ocr.tesseract.builder.TesseractOCRBuilder"
            Name="Tesseract OCR">
         <language
               Name="eng"></language>
         <language
               Name="chi_sim">
         </language>
         <language
               Name="chi_tra">
         </language>
         <language
               Name=" ind">
         </language>
         <language
               Name=" swe">
         </language>
         <language
               Name="ron">
         </language>
         <language
               Name="slv">
         </language>
         <language
               Name="srp">
         </language>
         <language
               Name="tgl">
         </language>
         <language
               Name="tur">
         </language>
         <language
               Name="hun">
         </language>
         <language
               Name="fin">
         </language>
         <language
               Name="ita">
         </language>
         <language
               Name="nld">
         </language>
         <language
               Name="nor">
         </language>
         <language
               Name="jpn">
         </language>
         <language
               Name="vie">
         </language>
         <language
               Name="spa">
         </language>
         <language
               Name="ukr">
         </language>
         <language
               Name="fra">
         </language>
         <language
               Name="kor">
         </language>
         <language
               Name="ell">
         </language>
         <language
               Name="rus">
         </language>
         <language
               Name="por">
         </language>
         <language
               Name="bul">
         </language>
         <language
               Name="lav">
         </language>
         <language
               Name="lit">
         </language>
         <language
               Name="pol">
         </language>
         <language
               Name=" dan-frak">
         </language>
         <language
               Name="deu">
         </language>
         <language
               Name="dan">
         </language>
         <language
               Name="ces">
         </language>
         <language
               Name="cat">
         </language>
      </ocrbuilder>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="edu.panimalar.ocr.ui.preferencepage"
            class="edu.panimalar.ocr.tesseract.ui.preferences.PreferencePage"
            id="edu.panimalar.ocr.tesseract.ui.preferencepage"
            name="Tesseract">
      </page>
   </extension>

</plugin>
